<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ConsumerKey</key>
	<string>k1czNm79JKV5T5WLd8lPSSDBB</string>
	<key>ConsumerSecret</key>
	<string> kJzE1C4Giq4MTHNVshWRgJqLDL7Mx4ShHSjS7ZmxzyQWvIoGLw</string>
</dict>
</plist>
